@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


:root {
  --basic-white: #FFFFFF;
  --white-opacity: 255, 255, 255;
  --white-contacts: #FEFEFE;
  --menu-active: #EDEDED;
  --menu-shadow-active: #696969;

  --green-bg: #849D8F;
  --blue-bg: #8996A6;
  --violet-bg: #9D8B84;
  --waffle: #EEE4CB;
  --milk-white-bg: #F8F7F4;
  --search-border: #D3D3D2;
  --filter-bg: 248, 247, 244;

  --raspberry-bg: #921335;
  --chocolate-bg: #5E3A2C;
  --gray: #ABABAB;
  --black: #000000;
  --arrow-select: #ECF1EE;
  --basket-line: #CACAC7;
  --blog-news-line: #353535;

  --btn-liner-grad1: #F26843;
  --btn-liner-grad2: #E74A35;
  --btn-hover-bs: #AC1000; /*box-shadow*/
  --btn-bs: rgba(172, 16, 0, 0.64);
  --btn-active-bs: #942718;
  --link-red: #E84D37;
  --link-red-bottom: rgba(232, 77, 55, 0.3);
  --link: #FFBC9E;
  --catalog-link: #FBDED7;
  --catalog-link-active: #F6B5A5;
  --catalog-link-here: #D07058;
  --blue-post: lightblue;
  --close: #2C2829;
  --cross: #231F20;
  --link-opacity: rgba(255, 188, 158, 0.8);
  --text-shadow: 160, 32, 11;
  --input-email: 178, 178, 178;
  --text-about-us: #323232;
  --subscription-text: #5A5A5A;
  --placegolder-sub: #999999;
  --black-opacity: 0, 0, 0;
  --new-catalog: 50, 50, 50;
  --inp-border-active: 46, 136, 228;
  --price-shadow: 49, 50, 53;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*grid*/
.page {
  height: 100%;
}

body {
  min-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--green-bg);
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrapper {
  background-position: top center;
  background-repeat: no-repeat;
}

.wrapper-1 {
  background-color: var(--green-bg);
  background-image: url("../img/raspberry-jam-1.png");
}

.wrapper-2 {
  background-color: var(--blue-bg);
  background-image: url("../img/chocolate-and-lemon-2.png");
}

.wrapper-3 {
  background-color: var(--violet-bg);
  background-image: url("../img/strawberry-sorbet-3.png");
}

body:not(.index-page)::before {
  content: " ";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 656px;
  background: linear-gradient(180deg, rgba(var(--white-opacity), 0.2) 0%, rgba(var(--white-opacity), 0) 100%);
}

.btn-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(var(--text-shadow), 0.76);
  box-shadow: 0px 2px 2px var(--btn-bs);
  border: 0;
  padding: 0;
  display: block;
  background: linear-gradient(180deg, var(--btn-liner-grad1) 0%, var(--btn-liner-grad2) 100%);
  border-radius: 70px;
  color: var(--basic-white);
}


.btn-link:hover,
.btn-link:focus {
  background: linear-gradient(0deg, rgba(var(--white-opacity), 0.2), rgba(var(--white-opacity), 0.2)), linear-gradient(180deg, var(--btn-liner-grad1) 0%, var(--btn-liner-grad2) 100%);
  box-shadow: 0px 2px 2px var(--btn-hover-bs);
  outline: none;
}

.btn-link:active {
  background: linear-gradient(0deg, rgba(var(--black-opacity), 0.07), rgba(var(--black-opacity), 0.07)), linear-gradient(180deg, var(--btn-liner-grad1) 0%, var(--btn-liner-grad2) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-active-bs);
}

.link {
  color: var(--basic-white);
  -webkit-text-decoration: underline solid rgba(var(--white-opacity), 0.2);
  text-decoration: underline solid rgba(var(--white-opacity), 0.2);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--link);
  -webkit-text-decoration: underline solid var(--link-opacity);
  text-decoration: underline solid var(--link-opacity);
  outline: none;
}

.link-black {
  color: var(--text-about-us);
  -webkit-text-decoration: underline solid rgba(var(--new-catalog), 0.3);
  text-decoration: underline solid rgba(var(--new-catalog), 0.3);
}

.link-black:hover,
.link-black:focus,
.link-black:active {
  color: var(--link-red);
  -webkit-text-decoration: underline solid var(--link-red-bottom);
  text-decoration: underline solid var(--link-red-bottom);
}

.main-inp {
  box-shadow:  0 0 0 1px rgba(var(--input-email), 0.52);
}

.main-inp:hover {
  box-shadow:  0 0 0 2px rgba(var(--input-email), 0.52);
}

.main-inp:focus,
.main-inp:active {
  box-shadow:  0 0 0 2px rgba(var(--inp-border-active), 0.52);
  outline: none;
}

.visually-hidden,
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 27px;
  position: relative;
  margin: 0 auto;
  width: 1200px;
  z-index: 1;
}

/*header*/
.header {
  padding-top: 9px;
  z-index: 2;
  margin-bottom: 15px;
}

.header.index {
  margin-bottom: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation .logo {
  margin-right: 11px;
}

.menu-site {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  max-width: 675px;
}

.menu-site__item {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-right: 7px;
  position: relative;
  max-width: 169px;
}

.menu-site__item.active .menu-site__link {
  background-color: var(--catalog-link-here);
}

.menu-site__item.active span {
  border-bottom: transparent;
}

.menu-site__link {
  border-radius: 26px;
  padding: 6px 13px 6px;
  display: flex;
  flex-wrap: wrap;
}

.menu-site__link span {
  border-bottom: 1px solid rgba(var(--white-opacity), 0.2);
  font-weight: bold;
  line-height: 18px;
}

.menu-site span {
  max-width: 100%;
}

.menu-site__item:hover .menu-site__link,
.menu-site__item:focus-within .menu-site__link {
  background-color: var(--basic-white);
  outline: none;
}

.menu-site__item:hover span,
.menu-site__item:focus-within span {
  color: var(--text-about-us);
  border-bottom: 1px solid transparent;
}

.menu-site__link:active {
  background-color: var(--menu-active);
  box-shadow: inset 0px 2px 1px var(--menu-shadow-active);
}

.menu-site__link:active span {
  color: var(--text-about-us);
  border-bottom: transparent;
}

.catalog-list {
  display: none;
  list-style: none;
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  background: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(var(--black-opacity), 0.4);
  border-radius: 4px;
  min-width: 143px;
  left: -6px;
  top: 36px;
  padding-bottom: 5px;
  z-index: 1;
}

.catalog-list::before {
  content: "";
  position: absolute;
  width: 95px;
  height: 8px;
  background-color: transparent;
  top: -6px;
}

.catalog-list a {
  color: var(--text-about-us);
}

.menu-site__item.catalog:focus-within .catalog-list,
.menu-site__item.catalog:hover .catalog-list {
  display: block;
}

.catalog-item {
  position: relative;
}

.catalog-link {
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 5px;
  display: block;
}

.catalog-item.new .catalog-link {
  font-weight: bold;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.catalog-item.new::after {
  content: "";
  width: 128px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: rgba(var(--new-catalog), 0.2);
  bottom: -1px;
  right: 10px;
}

.catalog-link:hover,
.catalog-link:focus {
  background-color: var(--catalog-link);
  outline: none;
}

.catalog-link:active {
  background-color: var(--catalog-link-active);
}

.catalog-link.active {
  background-color: var(--catalog-link-here);
  color: var(--basic-white);
}

/*user-navigation*/
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 14px;
  max-width: 267px;
}

.user-navigation span {
  max-width: 100%;
}

.user-navigation__item {
  margin-right: 10px;
  position: relative;
  max-width: 120px;
}

.user-navigation__item:last-child {
  margin-right: 0;
}

.user-navigation__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(var(--white-opacity), 0.2);
  border-radius: 20px;
  padding: 6px 16px 7px;
}

.user-navigation__link:focus {
  outline: none;
}

.user-navigation__link span {
  padding-left: 8px;
}

.user-navigation__link.search {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
}

.user-navigation__link.search svg {
  display: flex;
  margin: auto;
}

.user-navigation__item:hover .user-navigation__link,
.user-navigation__item:focus-within .user-navigation__link,
.user-navigation__link:active {
  background-color: var(--basic-white);
  color: var(--text-about-us);
}

.user-navigation__item:hover svg,
.user-navigation__item:focus-within svg,
.user-navigation__link:active svg {
  fill: var(--text-about-us);
}

.user-navigation__item.search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

/*search-form*/
.search-form {
  display: none;
  min-width: 341px;
  min-height: 84px;
  background-color: var(--milk-white-bg);
  position: absolute;
  top: 36px;
  box-shadow: 0px 20px 20px rgba(var(--black-opacity), 0.4);
  border-radius: 4px;
  padding: 20px 15px;
}

.search-form__inp {
  width: 311px;
  height: 44px;
  background: var(--basic-white);
  border: 0;
  border-radius: 4px;
  padding-left: 14px;
  font-weight: normal;
  color: var(--text-about-us);
}


.search-form__inp::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: var(--placegolder-sub);
  opacity: 1;
}


.search-form__inp::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: var(--placegolder-sub);
  opacity: 1;
}


.search-form__inp::placeholder {
  font-weight: normal;
  font-size: 14px;
  color: var(--placegolder-sub);
  opacity: 1;
}

.user-navigation__item.search:hover .search-form,
.user-navigation__item.search:focus-within .search-form {
  display: block;
}

/*sign-up-form*/
.user-navigation__item.sign-up {
  position: relative;
}

.sign-up-form {
  display: none;
  position: absolute;
  top: 36px;
  right: 0px;
  min-width: 277px;
  min-height: 214px;
  background: var(--milk-white-bg);
  box-shadow: 0px 20px 20px rgba(var(--black-opacity), 0.4);
  border-radius: 4px;
  padding: 20px 17px 22px 19px;
}

.user-navigation__item.sign-up:hover .sign-up-form,
.user-navigation__item:focus-within .sign-up-form {
  display: block;
}

.sign-up-email__layout,
.sign-up-password__layout {
  margin-bottom: 19px;
}

.sign-up__inp {
  width: 241px;
  height: 44px;
  background: var(--basic-white);
  border: 0;
  border-radius: 4px;
  padding-left: 14px;
  font-weight: bold;
  font-size: 16px;
  color: var(--text-about-us);
  padding-bottom: 4px;
}

.sign-up-password {
  padding-bottom: 7px;
}

.sign-up__inp::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  opacity: 1;
}

.sign-up__inp::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  opacity: 1;
}

.sign-up__inp::placeholder {
  font-weight: normal;
  font-size: 14px;
  opacity: 1;
}

.sign-up-bottom__layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.sign-up__btn {
  padding: 10px 26px;
}

.sign-up-link__layout a {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--text-about-us);
  margin-bottom: 6px;
}

.sign-up-link__layout {
  display: flex;
  width: 119px;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 4px;
}

.sign-up-link__layout a:last-of-type {
  margin-bottom: 0;
}

/*basket*/
.basket-section {
  display: none;
  right: 0px;
  top: 36px;
  position: absolute;
  width: 539px;
  background-color: var(--milk-white-bg);
  box-shadow: 0px 20px 20px rgba(var(--black-opacity), 0.4);
  border-radius: 4px;
  color: var(--text-about-us);
  padding: 20px 14px 21px 21px;
}

.user-navigation__item.full .user-navigation__link {
  background-color: var(--basic-white);
  color: var(--text-about-us);
}

.user-navigation__item.full:hover .basket-section,
.user-navigation__item.full:focus-within .basket-section {
  display: block;
}

.basket-section .goods-list {
  padding: 0;
  list-style: none;
}

.goods-list::after {
  content: "";
  display: block;
  width: 510px;
  height: 1px;
  background-color: var(--basket-line);
  position: absolute;
  top: 129px;
  right: 15px;
}

.goods-item {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--text-about-us);
  margin-bottom: 19px;
  align-items: center;
}

.goods-item:last-child {
  margin-bottom: 0;
}

.basket__delete-item {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin-right: 22px;
  margin-left: -2px;
}

.basket__delete-item::after,
.basket__delete-item::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--close);
  width: 15px;
  height: 1px;
}

.basket__delete-item::before {
  transform: rotate(45deg);
}

.basket__delete-item::after {
  transform: rotate(-45deg);
}

.basket-img {
  border-radius: 50%;
  margin-right: 13px;
}

.basket__description-item {
  max-width: 216px;
  margin: 0;
  margin-right: 31px;
  padding-top: 2px;
}

.goods-item:nth-child(2) .basket__description-item {
  padding-top: 8px;
}

.basket__weight {
  color: var(--black);
  max-width: 95px;
  margin: 0;
  margin-right: 27px;
}

.basket__weight span {
  color: var(--gray);
}

.basket__price {
  max-width: 50px;
}

.basket__altogether-price {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  margin-top: 34px;
  text-align: right;
  margin-bottom: 15px;
}

.basket__order {
  width: 172px;
  padding: 10px 15px;
  margin-left: auto;
}

/*work-time-section*/
.navigation__work-time,
.navigation__tel {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  text-align: right;
  display: block;
  border-bottom: transparent;
  text-decoration: none;
}

.navigation__tel:hover,
.navigation__tel:focus,
.navigation__tel:active {
  border-bottom: transparent;
}

.navigation__work-time {
  font-size: 14px;
  margin-bottom: 11px;
  line-height: 16px;
  margin-top: -7px;
}

.work-time__layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  width: 167px;
  align-items: flex-end;
  position: absolute;
  right: 27px;
  z-index: -1;
}

.work-time__layout.index {
  position: static;
}

/*breadcrumbs-list*/
.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 267px;
}

.breadcrumbs-item {
  margin-right: 23px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  background-image: url("../img/arrows.svg");
  bottom: 7px;
  right: -15px;
}

.breadcrumbs-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

/*main*/
/*slider*/
.slider {
  padding-top: 273px;
  margin-bottom: 38px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item:not(.active) {
  display: none;
}

.slider__heading {
  margin: 0 auto;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  width: 672px;
  margin-bottom: 29px;
}

.slider__img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
  top: -40px;
}

.slider__link {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  width: 278px;
  margin: 0 auto;
  padding: 8px 40px 12px;
}

.slider-btn-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 22px;
}

.slider-btn-item {
  margin-right: 7px;
}

.slider-btn {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: rgba(var(--white-opacity), 0.4);
  outline: none;
}

.slider-btn:active,
.slider-btn.active {
  background-color: var(--basic-white);
}

/*promo*/
.promo {
  margin-bottom: 40px;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 560px;
  border-radius: 16px;
  padding: 14px 22px 20px 16px;
}

.promo-section.raspberry {
  background-color: var(--raspberry-bg);
  background-image: url("../img/raspberry-background.jpg");
}

.promo-section.chocolate {
  background-color: var(--chocolate-bg);
  background-image: url("../img/chocolate-backgroud.jpg");
}

.promo__heading {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 17px;
}

.promo__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 42px;
}

.promo__link {
  width: 191px;
  padding: 12px 22px 15px;
  margin-left: auto;
}

.raspberry .promo__link {
  width: 164px;
}

/*bestsellers*/
.bestsellers {
  margin-bottom: 37px;
  z-index: 2;
}

.bestsellers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.bestsellers-item {
  margin-right: 26px;
}

.bestsellers-item:nth-child(4n) {
  margin-right: 0;
}

.bestsellers-section {
  width: 267px;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid transparent;
  text-align: center;
}

.bestsellers-hover {
  display: none;
  background-color: rgba(var(--white-opacity), 0.2);
  box-shadow: 0px 20px 20px rgba(var(--black-opacity), 0.2);
  border-radius: 4px;
  position: absolute;
  z-index: -2;
  min-height: 122%;
  width: 293px;
  left: -12px;
  top: 0;
}

.bestsellers-section:focus-within,
.bestsellers-section:hover {
  outline: none;
  z-index: 2;
}

.bestsellers-section:hover .bestsellers-hover,
.bestsellers-section:focus-within .bestsellers-hover {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  outline: none;
}

.ice-link {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 16px;
  margin-bottom: 21px;
}

.ice-img {
  border-radius: 50%;
  margin-bottom: 7px;
}

.bestsellers-section::before {
  content: "";
  width: 61px;
  height: 61px;
  display: block;
  position: absolute;
  background-image: url("../img/hit.svg");
  background-size: 61px 61px;
  background-repeat: no-repeat;
}


.ice-heading {
  margin: 0;
  font-weight: 500;
  font-size: inherit;
  text-align: center;
  margin-bottom: 2px;
  -webkit-text-decoration-color: rgba(var(--white-opacity), 0.2);
  text-decoration-color: rgba(var(--white-opacity), 0.2);
}

.ice-price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  position: absolute;
  top: 207px;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  z-index: 1;
  text-shadow: 0px 1px 3px rgba(var(--price-shadow), 0.5);
}

.ice-price > span {
  font-size: 30px;
  line-height: 35px;
  padding-left: 7px;
  display: flex;

}

.ice-price > span:before {
  content: "";
  display: block;
  width: 37px;
  height: 32px;
  background-image: url("../img/ruble.svg");
  background-size: 37px 32px;
}


/*about us*/
.about-us {
  color: var(--text-about-us);
  background-color: var(--waffle);
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: repeat;
  border-radius: 16px;
  width: 1146px;
  padding: 24px 23px 30px 20px;
  margin-bottom: 39px;
}

.info-heading {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}

.info-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 540px 537px;
  -moz-column-gap: 26px;
  column-gap: 26px;
  row-gap: 23px;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  justify-items: end;
}

.info-item {
  position: relative;
}

.info-item::before {
  content: "";
  display: block;
  position: absolute;
  background-size: 49px 49px;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  top: -9px;
  left: -54px;
  background-image: url("../img/ice-cream.svg");
}

.info-item.ice::before {
  background-image: url("../img/ice-cream.svg");
}

.info-item.cow::before {
  background-image: url("../img/cow.svg");
}

.info-item.leaf::before {
  background-image: url("../img/leaf.svg");
}

.info-item.thermometer::before {
  background-image: url("../img/thermometer.svg");
}

.info-text {
  margin: 0;
  width: 485px;
}

/*columns*/
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news {
  width: 560px;
  border-radius: 16px;
  color: var(--text-about-us);
  background-color: var(--basic-white);
  background-image: url("../img/strawberry-background.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 18px 21px 89px;
  position: relative;
  background-size: cover;
}

.blog-news .excerpt {
  margin: 0;
  font-weight: 500;
  margin-bottom: 2px;
}

.blog-news__heading {
  margin: 0;
  width: 287px;
}

.blog-news__link {
  color: var(--text-about-us);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  position: relative;
}

.blog-news__line {
  stroke: var(--blog-news-line);
  position: absolute;
  top: 27px;
  left: 1px;

}

.blog-news__link:hover,
.blog-news__link:focus,
.blog-news__link:active {
  color: var(--link-red);
}

.blog-news__link:hover .blog-news__line,
.blog-news__link:focus .blog-news__line,
.blog-news__link:active .blog-news__line {
  stroke: var(--link-red-bottom);
}

.subscription {
  width: 560px;
  background-image: url("../img/post-background.png");
  background-color: var(--blue-post);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  color: var(--subscription-text);
  padding: 5px 6px 5px;
  background-size: cover;
}

.subscription-layout {
  width: 548px;
  margin: 0 auto;
  background-color: var(--milk-white-bg);
  border-radius: 16px;
  padding: 25px 16px 35px 20px;
}

.subscription__text {
  width: 512px;
  margin: 0;
  margin-bottom: 40px;
}

.sub-form {
  display: flex;
  flex-wrap: wrap;
}

.sub-email {
  padding: 0;
  width: 368px;
  height: 44px;
  background: var(--basic-white);
  border: 0;
  border-radius: 6px;
  padding-left: 14px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-about-us);
}

.sub-email::-webkit-input-placeholder {
  font-weight: normal;
  opacity: 1;
  color: var(--placegolder-sub);

}

.sub-email::-moz-placeholder {
  font-weight: normal;
  opacity: 1;
  color: var(--placegolder-sub);

}

.sub-email::placeholder {
  font-weight: normal;
  opacity: 1;
  color: var(--placegolder-sub);

}

.sub-btn {
  padding: 9px 20px 11px;
}

/*catalog*/
.catalog-header {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 26px;
}

/*filter-form*/
.filter {
  margin-bottom: 39px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 870px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-white);
}

.filter-form legend {
  font-size: 14px;
  margin-bottom: 7px;
  margin-left: 16px;
  margin-right: 3px;
}

.filter-fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.filter-sort {
  width: 196px;
  position: relative;
}

.filter-sort__label {
  position: relative;
}

.filter-sort__select {
  background-color: rgba(var(--white-opacity), 0.2);
  border-radius: 20px;
  border: 0;
  padding: 9px 35px 9px 16px;
  color: var(--basic-white);
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-weight: 500;
}

.filter-sort-arrow {
  position: absolute;
  fill: var(--arrow-select);
  top: 6px;
  left: 171px;
}

.filter-sort__select:hover,
.filter-sort__select:focus {
  color: var(--text-about-us);
  outline: none;
}

.filter-sort__select:hover + .filter-sort-arrow,
.filter-sort__select:focus + .filter-sort-arrow {
  fill: var(--text-about-us);
}

.filter-price {
  width: 218px;
  position: relative;
  display: block;
}

.filter-price__layout-price {
  position: absolute;
  width: 68%;
  left: 55px;
  top: 0;
}

.filter-price__inp {
  width: 43px;
  background-color: transparent;
  padding: 0;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  position: relative;
}

.filter-price__label {
  margin-right: 10px;
  margin-bottom: 4px;
  position: relative;
}

.filter-price__label:last-of-type::before {
  content: "-";
  position: absolute;
  right: 51px;
}

.filter-price__label::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url("../img/ruble-small.svg");
  top: 3px;
  left: 28px;
}

.filter-price__label:last-child::after {
  left: 26px;
}

.filter-price__inp::-webkit-input-placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.filter-price__inp::-moz-placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.filter-price__inp::placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.range-controls {
  width: 218px;
  min-height: 36px;
  background: rgba(var(--white-opacity), 0.2);
  border-radius: 20px;
  position: relative;
}

.range-controls .scale {
  width: 176px;
  height: 2px;
  background-color: rgba(var(--filter-bg), 0.5);
  position: absolute;
  top: 16px;
  left: 20px;
}

.range-controls .bar {
  width: 56%;
  height: 2px;
  background-color: var(--milk-white-bg);
  position: absolute;
  left: 12%;
  top: -1px;
}

.range-controls .toggle {
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: var(--gray);
  border-radius: 50%;
  border: 8px solid var(--basic-white);
  top: 7px;
  left: 15%;
}

.range-controls .toggle-max {
  left: 60%;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus,
.range-controls .toggle:active {
  transform: scale(1.2);
  cursor: pointer;
  outline: none;
}

.filter-fat-content {
  width: 425px;
}

.filter-fat-content__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background: rgba(var(--white-opacity), 0.2);
  padding: 11px 14px 0 13px;
  align-items: flex-start;
}

.filter-fat-content__item {
  margin-bottom: 9px;
  padding-left: 34px;
  margin-right: 18px;
}

.filter-fat-content__item:nth-child(4n) {
  margin-right: 0;
}

.fat-content__label {
  position: relative;
}

.fat-content__label::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off-active.svg");
  background-repeat: no-repeat;
  top: -3px;
  left: -34px;
  opacity: 0.8;
}

.filter-fat-content__inp:checked + .fat-content__label::before {
  background-image: url("../img/radio-on-active.svg");
}

.filter-fat-content__inp:hover + .fat-content__label::before,
.filter-fat-content__inp:focus + .fat-content__label::before {
  opacity: 1;
}

.filter-fat-content__inp:disabled + .fat-content__label::before {
  opacity: 0.4;
}

.filter-additive {
  width: 711px;
  margin-top: 14px;
}

.filter-additive__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background: rgba(var(--white-opacity), 0.2);
  border-radius: 20px;
  padding: 9px 19px 3px 16px;
  align-items: flex-start;
}

.filter-additive__item {
  padding-left: 34px;
  margin-bottom: 9px;
  margin-right: 20px;
}

.filter-additive__item:nth-child(5n) {
  margin-right: 0;
}

.filter-additive__label {
  position: relative;
}

.filter-additive__label::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 20px;
  background-image: url("../img/checkbox-off-active.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  left: -34px;
  top: 1px;
}

.filter-additive__inp:checked + .filter-additive__label::before {
  background-image: url("../img/checkbox-on-active.svg");
}

.filter-additive__inp:hover + .filter-additive__label::before,
.filter-additive__inp:focus + .filter-additive__label::before {
  opacity: 1;
}

.filter-additive__inp:disabled + .filter-additive__label::before {
  opacity: 0.4;
}

.filter-submit {
  width: 144px;
  bottom: 0;
  background: rgba(var(--white-opacity), 0.2);
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  padding: 8px 0px 8px;
  font-weight: 500;
  margin-top: 36px;
}

.filter-submit:hover,
.filter-submit:focus {
  background-color: var(--basic-white);
  color: var(--text-about-us);
  outline: none;
}

.filter-submit:active {
  background-color: var(--basic-white);
  color: var(--text-about-us);
  box-shadow: inset 0px 2px 1px var(--menu-shadow-active);
  border: 0;
}

/*product-list catalog*/
.products {
  z-index: 2;
  margin-bottom: 39px;
}

.product-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.product-item .bestsellers-section::before {
  content: none;
}

.product-item {
  margin-bottom: 35px;
  margin-right: 26px;
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

/*pages-list*/

.pages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

.pages-list__btn {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  margin-right: -8px;
  padding-right: 25px;
  padding-bottom: 4px;
  position: relative;
}

.pages-list__btn.previous {
  margin-right: 0;
}

.pages-list__btn:not([href]) {
  cursor: default;
  pointer-events: none;
}

.pages-list__btn::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 12px;
  top: 6px;
  right: 4px;
}

.pages-list__btn.previous::before {
  transform: rotate(180deg);
  right: 12px;
}

.pages-list__btn:not([href])::before {
  opacity: 0.2;
}

.page-item {
  margin-right: 4px;
}

.page-link {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: block;
  padding: 5px 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.page-link:hover,
.page-link:focus {
  background: rgba(var(--white-opacity), 0.2);
}

.page-link:active,
.page-link.active {
  background-color: var(--basic-white);
  color: var(--text-about-us);
}

/*footer*/
/*index-footer*/
.map {
  position: relative;
  height: 430px;
  margin-bottom: 8px;
}

.map__img {
  margin: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
  height: 430px;
  width: 1200px;
  display: block;
}

.yandex-map {
  position: absolute;
  width: 100%;
  height: 430px;
  border: 0;
  z-index: 2;
  min-width: 1200px;
}

.contacts-layout {
  width: 1200px;
  height: 430px;
  position: absolute;
  top: 0;
  margin-left: -600px;
  left: 50%;
  z-index: 3;
  pointer-events: none;
}

.contacts {
  width: 303px;
  position: absolute;
  top: 61px;
  right: 27px;
  background-color: var(--white-contacts);
  color: var(--text-about-us);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border-radius: 16px;
  padding: 31px 25px 31px;
  pointer-events: all;
}

.contacts > p {
  margin: 0;
}

.contacts__address-text {
  width: 155px;
}

.contacts .contacts__address {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: -3px;
  margin-bottom: 23px;
}

.contacts .contacts__tel-text {
  margin-bottom: 1px;
}

.contacts__tel {
  color: var(--text-about-us);
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.contacts .contacts__time {
  margin-bottom: 26px;
}

.contacts .contacts-modal-form-link {
  padding: 10px 28px;
}

.footer {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 267px 560px 267px;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  align-items: center;
  justify-items: center;
  -moz-column-gap: 26px;
  column-gap: 26px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.footer::before {
  content: "";
  position: absolute;
  width: 1146px;
  height: 1px;
  background-color: rgba(var(--white-opacity), 0.2);
  top: -11px;
}

.socials {
  justify-self: start;
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.socials-item {
  margin-right: 7px;
  margin-bottom: 3px;
}

.socials-link::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  opacity: 0.8;
  border: 2px solid rgba(var(--white-opacity), 0.5);
  border-radius: 50%;
}

.socials-link.fb::before {
  background-image: url("../img/fb-active.svg");
}

.socials-link.vk::before {
  background-image: url("../img/vk-active.svg");
}

.socials-link.inst::before {
  background-image: url("../img/inst-active.svg");
}

.socials-link.tw::before {
  background-image: url("../img/tw-active.svg");
}

.socials-link:hover::before,
.socials-link:focus::before,
.socials-link:active::before {
  opacity: 1;
}

.socials-link:active::before {
  border: 2px solid rgba(var(--white-opacity), 0.7);
}

.useful-list {
  width: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 143px 185px;
}

.useful-item {
  margin-left: 14px;

}

.useful-item.heart {
  position: relative;
}

.useful-item > a {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.useful-item.heart > a {
  font-weight: bold;
}

.useful-item.heart::before {
  content: "";
  display: block;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  position: absolute;
  left: -23px;
  top: 6px;
}

.developer {
  justify-self: end;
}

.developer > p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

/*modal*/
/* Animations */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-connection__layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(var(--black-opacity), 0.3);
  z-index: 99;
  display: none;
}

.modal-connection__layout.open {
  display: block;
}

.modal-connection {
  display: block;
  background: var(--milk-white-bg);
  border-radius: 6px;
  width: 477px;
  padding: 15px 25px 27px 23px;
  margin: 0 auto;
  margin-top: 35vh;
  position: relative;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-connection.error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.connection__heading {
  color: var(--text-about-us);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px
}

.connection-form {
  display: flex;
  flex-wrap: wrap;
}

.connection__close {
  padding: 8px;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 18px;
  border: 0;
  cursor: pointer;
}

.connection__close::before,
.connection__close::after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: var(--cross);
  display: block;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
}

.connection__close::after {
  transform: rotate(-45deg);
}

.connection__close:focus {
  outline: none;
}

.connection-form div {
  margin-bottom: 20px;
}

.connection-inp {
  background: var(--basic-white);
  border: 0;
  border-radius: 4px;
  padding-left: 13px;
}

.connection-inp.small-inp {
  width: 267px;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.connection-inp::-webkit-input-placeholder {
  color: var(--placegolder-sub);
  font-weight: normal;
}

.connection-inp::-moz-placeholder {
  color: var(--placegolder-sub);
  font-weight: normal;
}

.connection-inp::placeholder {
  color: var(--placegolder-sub);
  font-weight: normal;
}

.connection-inp.big-inp {
  width: 428px;
  min-height: 154px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-about-us);
  padding-top: 10px;
  resize: none;
}

.connection-btn {
  padding: 10px 25px;
  margin-left: auto;
}
