@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


:root {
  --basic-white: #FFFFFF;
  --white-opacity: 255, 255, 255;
  --white-contacts: #FEFEFE;
  --menu-active: #EDEDED;
  --menu-shadow-active: #696969;

  --green-bg: #9EB8A9;
  --blue-bg: #B7C2CF;
  --violet-bg: #B2A19A;
  --waffle: #EEE4CB;
  --milk-white-bg: #F8F7F4;

  --raspberry-bg: #921335;
  --chocolate-bg: #5E3A2C;

  --btn-liner-grad1: #F26843;
  --btn-liner-grad2: #E74A35;
  --btn-hover-bs: #AC1000; /*box-shadow*/
  --btn-bs: rgba(172, 16, 0, 0.64);
  --btn-active-bs: #942718;
  --link: #FFBC9E;
  --catalog-link: #FBDED7;
  --catalog-link-active: #F6B5A5;
  --catalog-link-here: #D07058;
  --blue-post: lightblue;

  --text-shadow: 160, 32, 11;
  --input-email: 178, 178, 178;
  --text-about-us: #323232;
  --subscription-text: #5A5A5A;
  --placegolder-sub: #999999;
  --black-opacity: 0, 0, 0;
  --new-catalog: 50, 50, 50;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*grid*/
.page {
  height: 100%;
}

body {
  min-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--green-bg);
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.btn-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(var(--text-shadow), 0.76);
  box-shadow: 0px 2px 2px var(--btn-bs);
  border: 0;
  padding: 0;
  display: block;
  background: linear-gradient(180deg, var(--btn-liner-grad1) 0%, var(--btn-liner-grad2) 100%);
  border-radius: 70px;
  color: var(--basic-white);
}

.btn-link:hover,
.btn-link:focus {
  background: linear-gradient(0deg, rgba(var(--white-opacity), 0.2), rgba(var(--white-opacity), 0.2)), linear-gradient(180deg, var(--btn-liner-grad1) 0%, var(--btn-liner-grad2) 100%);
  box-shadow: 0px 2px 2px var(--btn-hover-bs);
  outline: none;
}

.btn-link:active {
  background: linear-gradient(0deg, rgba(var(--black-opacity), 0.07), rgba(var(--black-opacity), 0.07)), linear-gradient(180deg, var(--btn-liner-grad1) 0%, var(--btn-liner-grad2) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-active-bs);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 27px;
  position: relative;
  margin: 0 auto;
  width: 1200px;
  z-index: 1;
}

/*header*/
.header {
  padding-top: 9px;
  z-index: 2;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation .logo {
  margin-right: 11px;
}

.menu-site {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
}

.menu-site__item {
  height: min-content;
  margin-right: 7px;
  position: relative;
}
.menu-site__item.catalog:hover .menu-site__link{

}

.menu-site__link {
  border-radius: 26px;
  padding: 6px 13px 6px;
}

.menu-site__link span {
  border-bottom: 1px solid rgba(var(--white-opacity), 0.2);
  font-weight: bold;
  line-height: 18px;
}
.menu-site__item:hover .menu-site__link,
.menu-site__item:focus-within .menu-site__link{
  background-color: var(--basic-white);
  outline: none;
}

.menu-site__item:hover span,
.menu-site__item:focus-within span{
  color: var(--text-about-us);
  border-bottom: transparent;
}

.menu-site__link:active {
  background-color: var(--menu-active);
  box-shadow: inset 0px 2px 1px var(--menu-shadow-active);
}

.menu-site__link:active span {
  color: var(--text-about-us);
  border-bottom: transparent;
}

.catalog-list {
  display: none;
  list-style: none;
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  background: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(var(--black-opacity), 0.4);
  border-radius: 4px;
  min-width: 143px;
  left: -7px;
  top: 31px;
  padding-bottom: 5px;
}

.catalog-list a {
  color: var(--text-about-us);
}

.menu-site__item.catalog:focus-within .catalog-list,
.menu-site__item.catalog:hover .catalog-list {
  display: block;
}
.catalog-item{
  position: relative;
}
.catalog-link{
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 5px;
  display: block;
}
.catalog-item.new .catalog-link{
  font-weight: bold;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.catalog-item.new::after{
  content: "";
  width: 128px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: rgba(var(--new-catalog), 0.2);
  bottom: -1px;
  right: 10px;
}

.catalog-link:hover,
.catalog-link:focus {
  background-color: var(--catalog-link);
  outline: none;
}
.catalog-link:active{
  background-color: var(--catalog-link-active);
}
.catalog-link.active{
  background-color: var(--catalog-link-here);
}
/*user-navigation*/
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 14px;

}

.user-navigation__item {
  margin-right: 10px;
}

.user-navigation__item:last-child {
  margin-right: 0;
}

.user-navigation__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(var(--white-opacity), 0.2);
  border-radius: 20px;
  padding: 6px 16px 7px;
}

.user-navigation__link span {
  padding-left: 8px;
}

.user-navigation__link.search {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
}

.user-navigation__link.search svg {
  display: flex;
  margin: auto;
}

.user-navigation__link:hover,
.user-navigation__link:focus,
.user-navigation__link:active {
  background-color: var(--basic-white);
  color: var(--text-about-us);
}

.user-navigation__link:hover svg,
.user-navigation__link:focus svg,
.user-navigation__link:active svg {
  fill: var(--text-about-us);
}


/*search-form*/
.search-form {
  display: none;
}

/*sign-up-form*/
.sign-up-form {
  display: none;
}

.navigation__work-time,
.navigation__tel {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  text-align: right;
  display: block;
}

.navigation__work-time {
  font-size: 14px;
  margin-bottom: 11px;
  line-height: 9px;
}

/*main*/
/*slider*/
.slider {
  padding-top: 273px;
  margin-bottom: 38px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item:not(.active) {
  display: none;
}

.slider__heading {
  margin: 0 auto;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  width: 672px;
  margin-bottom: 29px;
}

.slider__img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
  top: -40px;
}

.slider__link {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  width: 278px;
  margin: 0 auto;
  padding: 8px 40px 12px;
}

.slider-btn-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 22px;
}

.slider-btn-item {
  margin-right: 7px;
}

.slider-btn {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: rgba(var(--white-opacity), 0.4);
}

.slider-btn:active,
.slider-btn.active {
  background-color: var(--basic-white);
}

/*promo*/
.promo {
  margin-bottom: 40px;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 560px;
  border-radius: 16px;
  padding: 14px 22px 20px 16px;
}

.promo-section.raspberry {
  background-color: var(--raspberry-bg);
  background-image: url("../img/raspberry-background.jpg");
}

.promo-section.chocolate {
  background-color: var(--chocolate-bg);
  background-image: url("../img/chocolate-backgroud.jpg");
}

.promo__heading {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 17px;
}

.promo__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 42px;
}

.promo__link {
  width: 191px;
  padding: 12px 22px 15px;
  margin-left: auto;
}

.raspberry .promo__link {
  width: 164px;
}

/*bestsellers*/
.bestsellers {
  margin-bottom: 37px;
}

.bestsellers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bestsellers-section {
  width: 267px;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid transparent;
  text-align: center;
}

.bestsellers-hover {
  display: none;
}

.bestsellers-section:focus {
  outline: none;
}

.bestsellers-section:hover .bestsellers-hover,
.bestsellers-section:focus .bestsellers-hover {
  background-color: rgba(var(--white-opacity), 0.2);
  box-shadow: 0px 20px 20px rgba(var(--black-opacity), 0.2);
  border-radius: 4px;
  position: absolute;
  z-index: -2;
  min-height: 122%;
  width: 293px;
  left: -12px;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  outline: none;
}

.ice-link {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 16px;
  margin-top: 11px;
  margin-bottom: 21px;
}

.ice-img {
  border-radius: 50%;
  margin-bottom: 7px;
}

.bestsellers-section::before {
  content: "";
  width: 61px;
  height: 61px;
  display: block;
  position: absolute;
  background-image: url("../img/hit.svg");
  background-size: 61px 61px;
  background-repeat: no-repeat;
}

.ice-heading {
  margin: 0;
  font-weight: 500;
  font-size: inherit;
  text-align: center;
  margin-bottom: 2px;
}

.ice-price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  position: absolute;
  top: 207px;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  z-index: 1;
}

.ice-price > span {
  font-size: 30px;
  line-height: 35px;
  padding-left: 7px;
  display: flex;

}

.ice-price > span:before {
  content: "";
  display: block;
  width: 37px;
  height: 32px;
  background-image: url("../img/ruble.svg");
  background-size: 37px 32px;

}


/*about us*/
.about-us {
  color: var(--text-about-us);
  background-color: var(--waffle);
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: repeat;
  border-radius: 16px;
  width: 1146px;
  padding: 24px 23px 30px 20px;
  margin-bottom: 39px;
}

.info-heading {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}

.info-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 540px 537px;
  column-gap: 26px;
  row-gap: 23px;
  grid-template-rows: repeat(2, min-content);
  justify-items: end;
}

.info-item {
  position: relative;
}

.info-item::before {
  content: "";
  display: block;
  position: absolute;
  background-size: 49px 49px;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  top: -9px;
  left: -54px;
}

.info-item:first-child::before {
  background-image: url("../img/ice-cream.svg");
}

.info-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.info-item:nth-child(3)::before {
  background-image: url("../img/leaf.svg");
}

.info-item:last-child::before {
  background-image: url("../img/thermometer.svg");
}

.info-text {
  margin: 0;
  width: 485px;
}

/*columns*/
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news {
  width: 560px;
  border-radius: 16px;
  color: var(--text-about-us);
  background-color: var(--basic-white);
  background-image: url("../img/strawberry-background.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 18px 21px 89px;
}

.blog-news .excerpt {
  margin: 0;
  font-weight: 500;
  margin-bottom: 2px;
}

.blog-news__heading {
  margin: 0;
  width: 287px;
}

.blog-news__link {
  color: var(--text-about-us);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  border-bottom: 2px solid var(--text-about-us);
}


.subscription {
  width: 560px;
  background-image: url("../img/post-background.png");
  background-color: var(--blue-post);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  color: var(--subscription-text);
  padding: 5px 6px 5px;
}

.subscription-layout {
  width: 548px;
  margin: 0 auto;
  background-color: var(--milk-white-bg);
  border-radius: 16px;
  padding: 25px 16px 35px 20px;
}

.subscription__text {
  width: 512px;
  margin: 0;
  margin-bottom: 40px;
}

.sub-form {
  display: flex;
  flex-wrap: wrap;
}

.sub-form .sub-email {
  padding: 0;
  width: 368px;
  height: 44px;
  background: var(--basic-white);
  border: 1px solid rgba(var(--input-email), 0.52);
  border-radius: 6px;
  padding-left: 14px;
  margin-right: 8px;
}

.sub-email::placeholder {
  font-weight: normal;
  line-height: 24px;
  opacity: 1;
  color: var(--placegolder-sub);

}

.sub-btn {
  padding: 9px 20px 11px;
}

/*fooer*/
/*index-footer*/
.map {
  position: relative;
}

.map__img {
  width: 100%;
  object-fit: cover;
  height: 430px;
}

.contacts-layout {
  width: 1200px;
  height: 430px;
  position: absolute;
  top: 0;
  margin-left: -600px;
  left: 50%;
}

.index-footer .contacts {
  width: 303px;
  position: absolute;
  top: 61px;
  right: 27px;
  background-color: var(--white-contacts);
  color: var(--text-about-us);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border-radius: 16px;
  padding: 31px 25px 31px;
}

.contacts > p {
  margin: 0;
}

.contacts__address-text {
  width: 155px;
}

.contacts .contacts__address {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: -3px;
  margin-bottom: 23px;
}

.contacts .contacts__tel-text {
  margin-bottom: 1px;
}

.contacts .contacts__tel {
  color: var(--text-about-us);
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts .contacts__time {
  margin-bottom: 26px;
}

.contacts .contacts-modal-form-link {
  padding: 10px 28px;
}

.footer {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 267px 560px 267px;
  grid-auto-rows: min-content;
  align-items: center;
  justify-items: center;
  column-gap: 26px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.socials {
  justify-self: start;
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.socials-item {
  margin-right: 7px;
}

.socials-link::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  opacity: 0.8;
}

.socials-link.fb::before {
  background-image: url("../img/fb-active.svg");
}

.socials-link.vk::before {
  background-image: url("../img/vk-active.svg");
}

.socials-link.inst::before {
  background-image: url("../img/inst-active.svg");
}

.socials-link.tw::before {
  background-image: url("../img/tw-active.svg");
}

.socials-link:hover::before,
.socials-link:focus::before,
.socials-link:active::before {
  opacity: 1;
}

.useful-list {
  width: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 143px 185px;
}

.useful-item {
  margin-left: 14px;

}

.useful-item.heart {
  position: relative;
}

.useful-item > a {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid rgba(var(--white-opacity), 0.2);
}

.useful-item.heart > a {
  font-weight: bold;
}

.useful-item.heart::before {
  content: "";
  display: block;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  position: absolute;
  left: -23px;
  top: 6px;
}

.developer {
  justify-self: end;
}

.developer > p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

/*modal*/
.modal-connection {
  display: none;
}
